/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки


*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--default-font, sans-serif);
  font-variation-settings: "wght" var(--font-normal);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content-width {
  width: var(--content-width);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-container {
  background-color: #ffffff;
  padding-inline: var(--header-inline-padding);
  padding-block: var(--header-block-padding);
  margin-block: 100px;
  outline: 2px solid #000000;
  font-family: var(--accent-font), fantasy;
  justify-content: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  font-size: var(--logo-size);
  text-align: center;
}

.title {
  font-size: var(--title-size);
  text-align: center;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 2px solid #000;
  background-color: #ffffff;
  list-style: none;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card-title {
  font-variation-settings: "wght" var(--font-bold);
  font-size: 1.125rem;
  padding: 4px 10px;
  border-bottom: #000000 2px solid;
}

.image-container {
  overflow: hidden;
  position: relative;
  border-bottom: #000 2px solid;
}

.card-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.image-label {
  font-weight: 400;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  color: #000;
  opacity: 50%;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 25px;
  right: 25px;
  text-shadow:
    -1px -1px 0 white,
    0 -1px 0 white,
    1px -1px 0 white,
    -1px 0 0 white,
    1px 0 0 white,
    -1px 1px 0 white,
    0 1px 0 white,
    1px 1px 0 white;
}

@supports (-webkit-text-stroke: 1px white) or (text-stroke: 1px white) {
  .image-label {
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
  }
}

.contrast-filter {
  filter: contrast(200%);
}

.blur-filter {
  filter: blur(4px);
}

.brightness-filter {
  filter: brightness(1.5);
}

.overbright-filter {
  filter: contrast(140%) saturate(160%) brightness(1.1);
}

.vintage-filter {
  filter: sepia(50%) contrast(120%) brightness(1.1);
}

.aged-filter {
  filter: grayscale(80%) sepia(110%);
}

.mono-filter {
  filter: grayscale(100%);
}

.glitch-filter {
  filter: blur(2px) hue-rotate(180deg) brightness(0.9);
}

.card-text {
  font-variation-settings: "wght" var(--font-normal);
  margin: 25px 25px 0 25px;
  font-size: 18px;
  line-height: 21px;
}

.card-buttons {
  /*кнопки сердечко и like*/
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
.button__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  border: none;
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

/*---------------КНОПКА СЕРДЕЧКО------------------------------------------------------------------*/
.card__icon-button {
  background-color: transparent;
  padding: 0;
  transition: border 0.3s ease;
  border: 2px solid transparent;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: #000;
}

.like-icon:hover {
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--contour-color, #000);
  transition: fill 0.1s linear;
}

.core {
  fill: var(--animation-fill-color, transparent);
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  fill: var(--animation-fill-color, transparent);
  transition: fill 0.3s linear;
}

.sparks {
  fill: var(--sparks-color, #ff0000);
  opacity: 0;
}

.like-icon:hover .core {
  --animation-fill-color: #000000;
  transition-delay: 0;
}

.like-icon:hover .main-body {
  --animation-fill-color: #000;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  --animation-fill-color: #ff0000;
  transition-delay: 0;
}

.like-icon:active .main-body {
  --animation-fill-color: #ff0000;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  --animation-fill-color: #ff0000;
  transition-delay: 0s;
  transition-duration: 0.3s;
}
.like-icon.is-liked .main-body {
  --animation-fill-color: #ff0000;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}
.like-icon.is-liked .contour {
  --contour-color: #ff0000;
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation: sparks-move 0.3s 0.3s ease-in;
}

.like-icon.is-liked .heart {
  animation: heart-grow 0.3s 0.1s ease-in;
  transform-origin: center;
}

/*---------------------------------------------------------------------------------*/

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding: 0px 17px;
}

.button-effects {
  /*класс для фокуса и ховера текстовых кнопок*/
  position: relative;
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  transition: box-shadow 0.3s ease;
}

.button-effects:focus {
  outline: none;
}

.button-effects:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px #000000;
}

.button-effects::before {
  content: "";
  position: absolute;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 100%;
  inset: 0;
}

.button-effects:hover::before {
  transform: scaleX(1);
}

.save-button {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  padding-inline: 18px;
  padding-block: 15px;
  border: 2px solid #000000;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  background-color: #ffffff;
  margin-top: 50px;
  margin-bottom: 100px;
}

.floppy {
  width: var(--floppy-size);
  height: var(--floppy-size);
  z-index: 1;
  color: var(--button-text-color, #fff);
  fill: currentColor;
  mix-blend-mode: difference;
}

.insert-floppy {
  /*обертка для текста и свг в кнопке*/
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.dialog[open] {
  height: fit-content;
  display: flex;
  border: none;
  outline: #000000 2px solid;
  padding-inline: 38px;
  padding-block: 30px;
  flex-direction: column;
  gap: 30px;
  font-family: var(--accent-font), fantasy;
  background-color: white;
  inline-size: clamp(341px, calc(336.775px + 1.127vw), 353px);
}

.dialog::backdrop {
  background-color: #000000;
  opacity: 75%;
}

.dialog-text {
  line-height: 150%;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  background-color: transparent;
  text-transform: uppercase;
}

.modal-floppy {
  /*свг в модальном окне*/
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.ok-button {
  width: 100%;
  padding-block: 9px;
}

@media (width > 375.99px) {
  /*строгое условие со значением 375px так же применяет
  стили из медиазапроса (ширина окна в девтулз 375.33px),
  поэтому брейкпоинт на 375.99px*/
  .save-button {
    flex-direction: row;
  }

  .dialog[open] {
    padding-inline: 30px;
  }
}
